{% if things_list %}

    {% for thing in things_list %}
        <p>{{thing.thing}}</p>
        <p>{{thing.key}}</p>
        <p>{{thing.description}}</p>
    {% endfor %}

{% else %}
    <p>No things are available.</p>
{% endif %}
